<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cypher Character Generator</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <script nomodule>
      window.MSInputMethodContext &&
        document.documentMode &&
        document.write(
          '<link rel="stylesheet" href="/css/bootstrap-ie11.min.css"><script src="https://cdn.jsdelivr.net/gh/nuxodin/ie11CustomProperties@4.1.0/ie11CustomProperties.min.js"><\/script><script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default,Array.prototype.includes,Array.prototype.find,Number.parseFloat%2CNumber.parse"><\/script>'
        );
    </script>
  </head>
  <body>
    <header
      class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
    >
      <p class="h5 my-0 me-md-auto fw-normal">Cypher Character Generator</p>
      <a class="btn btn-outline-primary" href="/">New Game</a>
    </header>

    <main>
      <div class="container">
        <h1>Create a Game Setting</h1>
        <p>
          Use this form to create a game setting. A starter template will be
          displayed to help you get going.
        </p>

        <form>
          <div class="form-group">
            <label for="setting">Setting Parameters</label>
            <textarea
              class="form-control"
              id="setting"
              aria-describedby="settingHelp"
              style="height: 400px"
            >
{
  "name": "A strange campaign",
  "pools": {
    "intellect": "Intellect",
    "might": "Might",
    "speed": "Speed"
  },
  "abilities": {
    "Run Away": {
      "cost": { "speed": 1 },
      "description": "Run like brave Sir Robin",
      "enabler": 0
    },
    "Slap": {
      "cost": { "might": 2 },
      "description": "Smack someone in melee range for 6pts of damage",
      "enabler": 0
    },
    "True Sight": {
      "cost": {},
      "description": "See things for what they really are, even if they are disguised or invisible",
      "enabler": 1
    }
  },
  "types": {
    "Fighter": {
      "add_abilities": 1,
      "add_edge": 0,
      "add_points": 6,
      "add_skills": 1,
      "base_abilities": ["Slap"],
      "base_points": {
        "intellect": 6,
        "might": 10,
        "speed": 8
      },
      "base_skills": ["Fight"],
      "cyphers": 1,
      "edge": {
        "intellect": 0,
        "might": 1,
        "speed": 0
      }
    },
    "Runner": {
      "add_abilities": 1,
      "add_edge": 0,
      "add_points": 6,
      "add_skills": 2,
      "base_abilities": ["Run Away"],
      "base_points": {
        "intellect": 6,
        "might": 8,
        "speed": 10
      },
      "base_skills": [],
      "cyphers": 1,
      "edge": {
        "intellect": 0,
        "might": 0,
        "speed": 1
      }
    },
    "Jack": {
      "add_abilities": 2,
      "add_edge": 1,
      "add_points": 2,
      "add_skills": 2,
      "base_abilities": [],
      "base_points": {
        "intellect": 10,
        "might": 10,
        "speed": 10
      },
      "base_skills": [],
      "cyphers": 1,
      "edge": {
        "intellect": 0,
        "might": 0,
        "speed": 0
      }
    }
  },
  "skills": ["Eat", "Sleep", "Fight"]
}            
</textarea
            >
            <small id="settingHelp" class="form-text text-muted"
              >Enter your game parameters in JSON format.</small
            >
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
